<div class="row card-deck mb-1" *ngIf="ships">
    <app-ship class="col-6 sm-6 d-flex" *ngFor="let ship of ships; let i = index"
    [brandName]="ship.brandName"
    [shipName]="ship.shipName"
    [shipRole]="ship.shipRole"
    [shipSize]="ship.shipSize"
    [shipWeight]="ship.shipWeight"
    [shipLength]="ship.shipLength"
    [shipWidth]="ship.shipWidth"
    [shipHeight]="ship.shipHeight"
    [shipPicture]="ship.shipPicture"
    [shipDesc]="ship.shipDesc"
    [shipFlightReady]="ship.shipFlightReady"
    [id]="ship.id"></app-ship>
</div>

<div>
    <a [routerLink]="['./add']" class="btn btn-outline-info">New Ship</a>
</div>