<div class="alert alert-success" *ngIf="change">
    <div class="col-12">Brand was successfully updated!</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label>Name</label><br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandName" />
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label>Code</label><br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandCode" />
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label>Race</label><br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandRace" />
      </div>
    </div>
    <div class="col-12 col-sm-3">
      <div class="form-group">
        <label>Date Founded</label> <br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandFounded"/>
      </div>
  </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Industry</label><br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandIndus" />
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Products</label> <br />
        <input type="text" class="form-control" [(ngModel)]="brand.brandProducts"/>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-12">
          <div class="form-group">
            <label>Logo</label> <br />
            <input type="text" class="form-control" [(ngModel)]="brand.brandLogo"/>
          </div>
      </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Description</label><br />
        <textarea name="description" cols="30" rows="10" class="form-control" [(ngModel)]="brand.brandDesc"></textarea>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="submit">
        <button class="btn btn-outline-success" (click)="edit()">Edit</button>
      </div>
    </div>
  </div>
  