<div class="container w-90 bg-dark">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-white">Welcome to Star Citizen</h1>
        </div>
    </div>
    <div class="row">
        <div id="scSreenshots" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://i.redd.it/hu8716v0zgj21.png" alt="Lorville">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Lorville</h5>
                        <p>Lorville is the biggest city on Hurston.</p>
                        <p>By <a class="link-info" href="https://www.reddit.com/r/starcitizen/comments/aw2kow/finally_figured_out_how_to_take_screenshots/">u/Andos_</a> on Reddit</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.redd.it/az7gtmbecp381.png" alt="Yela">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Surface of Yela</h5>
                        <p>Here is a screenshot of the surface of Yela, a moon of Crusader.</p>
                        <p >By <a class="link-info" href="https://www.reddit.com/r/starcitizen/comments/r9d376/not_a_skybox/">u/pedrojalapa</a> on Reddit</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.redd.it/chwhvzabhz381.jpg" alt="Carrack">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Anvil Carrack</h5>
                        <p>The Anvil Carrack, the best ship available in the verse', with a C8X Pisces on the back.</p>
                        <p >By <a class="link-info" href="https://www.reddit.com/r/starcitizen/comments/rah5po/tip_for_carrack_owners_you_can_park_your_pisces/">u/CyberTill</a> on Reddit</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.redd.it/xm4yqj3iso481.jpg" alt="C8X">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Anvil C8X Pisces</h5>
                        <p>A better look at the C8X Pisces, a little ship coming with the Carrack.</p>
                        <p >By <a class="link-info" href="https://i.redd.it/xm4yqj3iso481.jpg">u/NZNewsboy</a> on Reddit</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://preview.redd.it/cbi0ys58yi081.jpg?width=2560&format=pjpg&auto=webp&s=502485ffa491555cdcab9c7586bad3492f73c698" alt="Redeemer">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Aegis Redeemer</h5>
                        <p>A picture of one of the latest ships available in the forest on Microtech.</p>
                        <p >By <a class="link-info" href="https://www.reddit.com/r/starcitizen/comments/qxcyz9/redeemer_is_my_new_favorite_ship_best_pledge_ever/">u/AkiusSturmzephyr</a> on Reddit</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.redd.it/58r73siuk1281.png" alt="Starfighter">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-black">Crusader Ares Starfighter Ion</h5>
                        <p>The Ares Starfigher Ion, the capital ship destroyer with its size 7 weapon, seen from a 890 Jump.</p>
                        <p >By <a class="link-info" href="https://www.reddit.com/r/starcitizen/comments/r323ps/haha_im_in_danger/">u/Cerberos_</a> on Reddit</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#scSreenshots" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#scSreenshots" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <div class="row lore">
        <h1>What is Star Citizen ?</h1>
        <hr/>
        <p>Star Citizen is a space exploration game created by Chris Roberts. This game allow the players to travel between differents planets and differents solar systems. The story around the game takes place 930 years after today in the UEE (United Empire of Earth).</p>
        <div class="col-12 col-sm-9">
            <p>The United Empire of Earth (UEE), colloquially referred to as the Empire by its human population, is a sovereign, democratic interstellar empire spanning across 37 star systems. It was founded in 2546 after the conclusion of the First Human-Tevarin War, which saw the ascension of Ivar Messer to the position of Prime Citizen. Using his newfound political power, he restructured the United Planets of Earth into the UEE, appointing himself Imperator.<br/>
                <br/>
                Until 2792, the Empire was a hereditary monarchy ruled by the Messer Dynasty, which wielded supreme executive and military power over the government. Eventually, the dynasty was overthrown in the Revolution of 2792, restoring democracy to the nation and reforming the government into having the power to impeach the Imperator if all of it acted together. While the Imperator is still the supreme executive office, they are now elected by the populace and bound to a 10-year term.<br/>
                <br/>
                At present, the title of Imperator is held by Laylani Addison.</p>
        </div>
        <div class="col-12 col-sm-3">
            <img class="img-fluid" src="https://starcitizen.tools/images/6/61/UEEtrans.png" alt="UEE Logo">
        </div>
        <hr/>
    </div>

    <div class="row lore">
        <p>But the UEE isn't the only Interstellar Empire in the universe. By traveling in the universe you can go to solar systems where different alien races live (the Banus, Vanduuls or Tevarins are the most known ones) and one of them is the Xi'an empire</p>
        <br/>
        <div class="col-12 col-sm-3">
            <img class="img-fluid" src="https://cig-galactapedia-prod.s3.amazonaws.com/upload/5c583682-2bed-41be-b8f4-c146377450d2" alt="">
        </div>
        <div class="col-12 col-sm-9">
            <p>The Xi'an Empire or SaoXy'an is a polity ruling all of known Xi'an space over 20,000 years. They also have - compared to humanity - a very long tradition of spacefaring.
                <br/><br/>
                The Xi'an Empire is located along the border of UEE's "eastern systems". It is comprised of at least fourteen systems. The Xi'an government has not disclosed the exact number of systems under their control but it is assumed that they have more territory deeper into space.
                <br/><br/>
                While not inherently aggressive or expansionist in their nature, the Xi'an history is rife with civil war and power struggles. However over the last 500 years the Xi'an have adopted alternate methods to warfare preferring subtlety and manipulation to overt conflict. Xi'an influence is suspected in the revolution and subsequent overthrow of Imperator Messer XI in 2792.</p>
        </div>
        <hr/>
    </div>
    
    <div class="row lore">
        <p>The main and only currently playable solar system is the Stanton system. Composed of 4 planets orbiting around Stanton, a main sequence star.</p>
        <br/>
        <div class="col-12 col-sm-9">
            <p>The Stanton system is a single star system, and one of only two fully colonized systems in the UEE. It is the only system with a green zone reaching four planets, making it suitable for human life. All worlds have undergone limited terraforming and have flora and fauna with divergent ecologies. They are also corporate-owned while belonging to the United Empire of Earth.
                <br/><br/>
                Shortly after the discovery of the System, all planets were sold by the government to corporations. These four worlds are the only privately-owned worlds in the Empire. Though subject to the UEE's Common Law and standard penal code, the UEE does not fully police the region. Instead, private planetary security teams enforce the local law.</p>
        </div>
        <div class="col-12 col-sm-3">
            <img class="img-fluid" src="https://starcitizen.tools/images/c/cc/Stanton2DSystem.PNG" alt="">
        </div>
        <hr/>
    </div>

    <div class="row lore">
        <div class="col-md-6">
            <div class="jumbotron flex-fill">
                <h1 class="display-4">Star Citizen Ships</h1>
                <p class="lead">In Star Citizen you can find a lot of ships to fly around the Stanton System and all the upcomming solar systems.</p>
                <hr class="my-4">
                <p>You can find some of these ships by clicking on the button below.</p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" routerLink="ships" role="button">Star Citizen Ships</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="jumbotron flex-fill">
                <h1 class="display-4">Star Citizen Brands</h1>
                <p class="lead">All of these ships are made by different brands and manufacturers with their own styles and design particularities. For example Origin Jumpworks make luxurious ships and MISC make industrial ones.</p>
                <hr class="my-4">
                <p>You can find some of these brands by clicking on the button below.</p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" routerLink="brands" role="button">Star Citizen Brands</a>
                </p>
            </div>
        </div>
    </div>
</div>